* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('images/fon.jpg');
    background-repeat: repeat;
    background-size: cover;
    /* min-height: 100vh; */
    width: 100%;
}
.main-field {
    width: 80%;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 10rem;
}
.simulator {
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    min-width: 25%;
    background-color: white;
    padding: 20px 5px 20px 20px;
    box-shadow: 0 2px 2px 13px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-right: 7rem;
}
.input-group {
    max-height: 30rem;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}
.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 40px;
    border-bottom: 2px solid #e4e1e1;
}
.add {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #70a533;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 20px;
}
.boxLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.delete {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: #ff1414;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
}
.measurement {
    width: 5rem;
    height: 3rem;
    font-size: 1.1rem;
}
.shelfSize {
    margin-bottom: 1.5rem;
    width: 5rem;
    height: 3rem;
    font-size: 1.1rem;
}
.submitBtn {
    padding: 1rem;
    background-color: rgb(29, 31, 28);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: transparent;
    margin-right: 20px;
    opacity: 0.95;
}
.submitBtn:hover {
    opacity: 1;
}
input {
    padding-left: 1rem;
    background-color: #f4f4f4;
    border: none;
    border-radius: 5px;
}
label {
    font-size: 1.1rem;
}
.label {
    margin-right: 10%;
}

/************************************************ *******************************/
.cabinet {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    position: relative;
    /* background-color: rgb(106, 106, 106);  */
    background-image: url('images/cabinet3.png');
    background-repeat: repeat;
    padding-top: 18px;
}

.shelfCreated {
    display: flex;
    height: 6rem;
    justify-content: flex-start; 
    align-items: flex-end;
    /* background-color: rgb(34, 50, 34); */
    /* background-color: rgb(109, 129, 109); */
    padding-top: 2rem;
    /* border: 1px solid black; */
}
.box {
    height: 4rem;
    background-color: rgb(52, 206, 185);
    z-index: 1000;
    box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,1);
}
.resetBtn {
    padding: 1rem;
    background-color: rgb(95, 87, 92);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: transparent;
    margin-right: 20px;
    margin-top: 0.5rem;
    opacity: 0.8;
}
.resetBtn:hover {
    opacity: 0.9;
}